<header>
  <nav class="navbar navbar-expand-lg">
    <!-- <img src="../assets/SVG/Asset 1.svg" alt="" id="siteIcon" class="navbar-brand"> -->
    <div id="siteIcon" class="navbar-brand" style="width: 100%;">
       <!--CS: Start Site Logo Snippet-->
                            <!--MS:<SharePoint:AjaxDelta id="DeltaSiteLogo" BlockElement="true" runat="server">-->
                            <!--MS:<SharePoint:SPLinkButton runat="server" NavigateUrl="~sitecollection/" id="onetidProjectPropertyTitleGraphic">-->
                            <!--MS:<SharePoint:SiteLogoImage  name="onetidHeadbnnr0" id="onetidHeadbnnr2" LogoImageUrl="images/logo.png" runat="server" class="ms-siteicon-img">-->
                            <!--ME:</SharePoint:SiteLogoImage>-->
                            <!--ME:</SharePoint:SPLinkButton>-->
                            <!--ME:</SharePoint:AjaxDelta>-->
                            <!--CE:End Site Logo Snippet-->
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            I want to request
          </a>
          <div class="dropdown-menu row" aria-labelledby="navbarDropdown">
            <div class="col-lg-3">
              <h3>I want to request...</h3>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Lifeguard Vision Screening Account</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Fire Protection Assessment</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Infrared Scanning</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Pamphlets, Posters, and Supplies</a>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">RM Subsidy or Reimbursement</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">NIPSTA Subsidy</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Additional Insured COI</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Proof of Coverage</a>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Annual Certificate of Coverage</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Vehicle Insurance Card</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Additional Health ID Card</a>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            I want to learn
          </a>
          <div class="dropdown-menu row" aria-labelledby="navbarDropdown">
            <div class="col-lg-3">
              <h3>I want to learn...</h3>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Register for a Regional Class</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Take an Online Course</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Explore My Health Benefits</a>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Subsidies</a>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Grants</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            I want to submit
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="col-lg-3">
              <h3>I want to learn...</h3>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">New Online Claim</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">New Claim</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Additional Documents for an Existing Claim</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Contract for Review</a>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Healthy Habits Activity</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Risk Management Grant Application</a>
                <i class="far fa-star"></i>
              </div>
              <div class="menu-item d-flex align-items-center">
                <a class="dropdown-item" href="#">Wellness Grant Application</a>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="search-sticky-module">
    <div class="search-module">
      <i class="fas fa-search"></i>
    </div>
    <div class="account-module">
      <i class="fas fa-user"></i>
    </div>
  </div>
</header>