<footer class="container-fluid">
  <div class="row footer-top">
    <div class="col-lg-6 sitemap-section">
      <ul class="sitemap">
        <li>
          <a href="" class="footer-link">My Favorites</a>
        </li>
        <li>
          <a href="" class="footer-link">Resources</a>
        </li>
        <li>
          <a href="" class="footer-link">Training</a>
        </li>
        <li>
          <a href="" class="footer-link">News</a>
        </li>
        <li>
          <a href="" class="footer-link">My Profile</a>
        </li>
        <li>
          <a href="" class="footer-link">My Membership</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 info-section">
      <p class="tagline">
        <em>Managing risks and promoting wellness for more than 160 Illinois park districts, special recreation associations,
          forest preserve districts and conservation districts since 1984.</em>
      </p>
      <h3 class="district-name">
        PARK DISTRICT RISK MANAGEMENT AGENCY
      </h3>
      <ul class="address">
        <li class="street">2033 Burlington Avenue</li>
        <li class="state">Lisle, IL 60532</li>
        <li class="phone">P 630.769.0332</li>
        <li class="fax">F 630.769.0449</li>
      </ul>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-lg-12">
      <div class="copyright mr-2">
        Copyright &copy; 2019 PDRMA. All rights reserved.
      </div>
      <div class="privacy-policy ml-2">
        <a href="#">Click here to view our Privacy Policy.</a>
      </div>
    </div>
  </div>
</footer>