<div class="container-fluid main--container">
  <div class="hero-section row">
    <div class="col-lg-12">
      <div class="hero-image my-favorites">
        <div class="favorites-links row">
          <div class="col-lg-3 favorite">
            <h5 class="favorite-title">Actions</h5>
            <p class="favorite-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim</p>
          </div>
          <div class="col-lg-3 favorite">
            <h5 class="favorite-title">Resources</h5>
            <p class="favorite-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim</p>
          </div>
          <div class="col-lg-3 favorite">
            <h5 class="favorite-title">Destinations</h5>
            <p class="favorite-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim</p>
          </div>
          <div class="col-lg-3 favorite">
            <h5 class="favorite-title">Recently Viewed Documents</h5>
            <p class="favorite-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim</p>
          </div>
        </div>
        <div class="row favorites-button">
          <button class="btn btn-secondary">View My Favorites</button>
        </div>
        <img src="/SiteAssets/Website-Images/headerImage_2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hero-image resources">
        <div class="resource-link row">
          <div class="col-lg-12">
            <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim
            </p>
            <button class="btn btn-secondary">View Resources</button>
          </div>
        </div>
        <img src="/SiteAssets/Website-Images/PDRMA Images (From Judy)/wheatonparkdistrict_01.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hero-image training">
        <div class="training-link row">
          <div class="col-lg-12">
            <p class="training-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa itaque temporibus consequatur voluptatem
              iusto enim
            </p>
            <button class="btn btn-secondary">View Training</button>
          </div>
        </div>
        <img src="/SiteAssets/Website-Images/PDRMA Images (From Judy)/epd4.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="news-and-alerts row">
    <div class="col-lg-6 news-section">
      <div class="section-title">
        <h3>News</h3>
        <hr>
      </div>
      <div class="news-content row">
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?horse" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?beach" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?cars" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 alerts-section">
      <div class="section-title">
        <h3>Alerts</h3>
        <hr>
      </div>
      <div class="alerts-content row">
        <div class="alert card">
          <img src="/SiteAssets/SVG/bell-icon.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="/SiteAssets/SVG/bell-icon.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam non mauris ullamcorper, accumsan magna vitae,
              mattis neque. Fusce egestas venenatis mollis.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="/SiteAssets/SVG/bell-icon.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Aenean faucibus eros sit amet leo pulvinar interdum. Vivamus sed blandit sem, quis lacinia lectus. Donec commodo
              dui enim, ut fringilla leo accumsan in. Nam rhoncus ultrices vulputate.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="/SiteAssets/SVG/bell-icon.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Sed mattis consequat orci rhoncus consequat. Nulla facilisi. Integer at pulvinar nulla. Etiam mollis ornare nisl,
              sit amet maximus nisi vehicula in. Nulla velit ligula, convallis in elit sed, sagittis convallis nibh. Donec
              nibh est, efficitur a pharetra non, luctus ut urna.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>