<div class="row search-page">
  <div class="col-lg-12">
    <h1 class="content-title">Search Results</h1>
  </div>
  <div class="col-lg-12 pb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light searchbar-nav">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </div>
  <div class="col-lg-12 search-results">
    <p>
      <span class="search-results-view">11–20</span> of 55 results</p>
  </div>
  <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">GUIDE (3)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FORM (2)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CHECKLIST (1)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">TRAINING (5)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WORKSHEET (5)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HANDBOOK (5)</a>
      </li>
    </ul>
  </div>

  <nav class="col-md-3 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Title
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox0" checked>
            <label for="sideNav-checkbox0">Any Job Title</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox1">
            <label for="sideNav-checkbox1">Assessment Analyst</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox2">
            <label for="sideNav-checkbox2">Assessment Manager</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox3">
            <label for="sideNav-checkbox3">Accountant</label>
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Department
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox6" checked>
            <label for="sideNav-checkbox6">Any Department</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox7">
            <label for="sideNav-checkbox7">Assessment</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox8">
            <label for="sideNav-checkbox8">Finance</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox9">
            <label for="sideNav-checkbox9">IT</label>
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Ask Me About
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox6" checked>
            <label for="sideNav-checkbox6">Any Ask Me About</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox7">
            <label for="sideNav-checkbox7">Assessment</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox8">
            <label for="sideNav-checkbox8">Accounting</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox9">
            <label for="sideNav-checkbox9">Compliance</label>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-8 search-result-list">
    <div class="card mt-4">
      <div class="row no-gutters">
        <div class="col-2">
          <div class="search-img"></div>
        </div>
        <div class="card-body px-2 pt-0 col-10">
          <a href="">
            <p class="result-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          </a>
          <small class="result-subtitle">Posted by PDRMA Wednesday, November 21, 2018</small>
          <p class="result-desc">
            Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Luptatum zzril delenit
            augue duis…
          </p>
          <a href="" class="external-link mr-2">Open in [Name of Native Application]</a>
          <span>|</span>
          <a href="" class="external-link ml-2">Open as PDF</a>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="row no-gutters">
        <div class="col-2">
          <div class="search-img"></div>
        </div>
        <div class="card-body px-2 pt-0 col-10">
          <a href="">
            <p class="result-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          </a>
          <small class="result-subtitle">Posted by PDRMA Wednesday, November 21, 2018</small>
          <p class="result-desc">
            Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Luptatum zzril delenit
            augue duis…
          </p>
          <a href="" class="external-link mr-2">Open in [Name of Native Application]</a>
          <span>|</span>
          <a href="" class="external-link ml-2">Open as PDF</a>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="row no-gutters">
        <div class="col-2">
          <div class="search-img"></div>
        </div>
        <div class="card-body px-2 pt-0 col-10">
          <a href="">
            <p class="result-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          </a>
          <small class="result-subtitle">Posted by PDRMA Wednesday, November 21, 2018</small>
          <p class="result-desc">
            Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Luptatum zzril delenit
            augue duis…
          </p>
          <a href="" class="external-link mr-2">Open in [Name of Native Application]</a>
          <span>|</span>
          <a href="" class="external-link ml-2">Open as PDF</a>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="row no-gutters">
        <div class="col-2">
          <div class="search-img"></div>
        </div>
        <div class="card-body px-2 pt-0 col-10">
          <a href="">
            <p class="result-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          </a>
          <small class="result-subtitle">Posted by PDRMA Wednesday, November 21, 2018</small>
          <p class="result-desc">
            Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Luptatum zzril delenit
            augue duis…
          </p>
          <a href="" class="external-link mr-2">Open in [Name of Native Application]</a>
          <span>|</span>
          <a href="" class="external-link ml-2">Open as PDF</a>
        </div>
      </div>
    </div>
  </div>


</div>