<div class="container-fluid content--container row">
  <div class="main-content col-10">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="content-title">My Membership</h1>
      </div>
      <div class="col-lg-12 pt-4">
        <h3 class="content-subtitle">Contact Information</h3>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Main</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
            <li class="contact-item-fax">
              <i class="fas fa-fax"></i>
              123-456-7890
            </li>
            <li class="contact-item-email">
              <i class="fas fa-envelope"></i>
              <a href="mailto:email@email.com">email@email.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Main</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
            <li class="contact-item-fax">
              <i class="fas fa-fax"></i>
              123-456-7890
            </li>
            <li class="contact-item-email">
              <i class="fas fa-envelope"></i>
              <a href="mailto:email@email.com">email@email.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Main</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
            <li class="contact-item-fax">
              <i class="fas fa-fax"></i>
              123-456-7890
            </li>
            <li class="contact-item-email">
              <i class="fas fa-envelope"></i>
              <a href="mailto:email@email.com">email@email.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Main</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
            <li class="contact-item-fax">
              <i class="fas fa-fax"></i>
              123-456-7890
            </li>
            <li class="contact-item-email">
              <i class="fas fa-envelope"></i>
              <a href="mailto:email@email.com">email@email.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Main</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
            <li class="contact-item-fax">
              <i class="fas fa-fax"></i>
              123-456-7890
            </li>
            <li class="contact-item-email">
              <i class="fas fa-envelope"></i>
              123-456-7890
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <li class="contact-item-title">Training Hotline</li>
            <li class="contact-item-phone">
              <i class="fas fa-phone"></i>
              123-456-7890
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="contact-item">
          <ul class="contact-item-list">
            <button class="btn btn-secondary">Secure Email</button>
          </ul>
        </div>
      </div>
    </div>
    <!-- <app-employee-dir></app-employee-dir> -->
    <!-- <app-board-of-dir></app-board-of-dir> -->
    <app-governance></app-governance>
  </div>
  <div class="sidebar-container col-2">
    <div class="sidebar-item favorites-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">My Favorites</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?cheese" alt="">
    </div>
    <div class="sidebar-item resources-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Resources</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?ocean" alt="">
    </div>
    <div class="sidebar-item training-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Training</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?montana" alt="">
    </div>
  </div>
</div>