<div class="row my-health-benefits">
  <div class="col-lg-12">
    <h1 class="content-title">My Health Benefits</h1>
    <p class="pt-4">PDRMA Health offers a variety of health care benefits. To learn more about each benefits, click the appropriate link
      below.
    </p>
  </div>
  <div class="row pt-4 m-0">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">PPO</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">PPO PHARMACY</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">PPO HEALTHCARE BLUEBOOK / MY DECISION</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">HMO</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Dental</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Vision</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">EAP</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Life Insurance</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Health ID Card</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Network Provider</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Web MD</button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <button class="btn health-benefits-link">Forms</button>
    </div>
  </div>
</div>