<div class="row">
  <div class="col-lg-12 p-0">
    <h3 class="content-subtitle">Employee Directory</h3>
    <hr />
  </div>
  <div class="col-lg-12 px-0 pb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light searchbar-nav">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </nav>
  </div>
  <nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Title
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox0">
            <label for="sideNav-checkbox0">Any Job Title</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox1">
            <label for="sideNav-checkbox1">Assessment Analyst</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox2">
            <label for="sideNav-checkbox2">Assessment Manager</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox3">
            <label for="sideNav-checkbox3">Accountant</label>
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Department
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox6">
            <label for="sideNav-checkbox6">Any Department</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox7">
            <label for="sideNav-checkbox7">Assessment</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox8">
            <label for="sideNav-checkbox8">Finance</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox9">
            <label for="sideNav-checkbox9">IT</label>
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex mt-4 text-muted">
        Filter by Ask Me About
      </h6>
      <hr />
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox6">
            <label for="sideNav-checkbox6">Any Ask Me About</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox7">
            <label for="sideNav-checkbox7">Assessment</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox8">
            <label for="sideNav-checkbox8">Accounting</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <input type="checkbox" class="form-check-input" id="sideNav-checkbox9">
            <label for="sideNav-checkbox9">Compliance</label>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-8 ml-sm-auto col-lg-9 px-4">
    <div class="search-results">
      <p>
        <span class="search-results-view">6–10</span> of 15 results</p>
    </div>
    <div class="card contact-card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title contact-name">Jon Doe</h3>
            <div class="row">
              <div class="col-6">
                <div class="contact-item">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Consultant Claims</li>
                    <li class="contact-item-phone">
                      <i class="fas fa-phone"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-fax">
                      <i class="fas fa-fax"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-email">
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="contact-item ask-me-about">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Ask Me About</li>
                    <li class="contact-item-phone">
                      Workers’ Compensation Medical-Only Claims
                    </li>
                    <li class="contact-item-fax">
                      Property and Injury Claims
                    </li>
                    <li class="contact-item-email">
                      Defensive Driving Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card contact-card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title contact-name">Jon Doe</h3>
            <div class="row">
              <div class="col-6">
                <div class="contact-item">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Consultant Claims</li>
                    <li class="contact-item-phone">
                      <i class="fas fa-phone"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-fax">
                      <i class="fas fa-fax"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-email">
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="contact-item ask-me-about">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Ask Me About</li>
                    <li class="contact-item-phone">
                      Workers’ Compensation Medical-Only Claims
                    </li>
                    <li class="contact-item-fax">
                      Property and Injury Claims
                    </li>
                    <li class="contact-item-email">
                      Defensive Driving Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card contact-card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title contact-name">Jon Doe</h3>
            <div class="row">
              <div class="col-6">
                <div class="contact-item">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Consultant Claims</li>
                    <li class="contact-item-phone">
                      <i class="fas fa-phone"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-fax">
                      <i class="fas fa-fax"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-email">
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="contact-item ask-me-about">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Ask Me About</li>
                    <li class="contact-item-phone">
                      Workers’ Compensation Medical-Only Claims
                    </li>
                    <li class="contact-item-fax">
                      Property and Injury Claims
                    </li>
                    <li class="contact-item-email">
                      Defensive Driving Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card contact-card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title contact-name">Jon Doe</h3>
            <div class="row">
              <div class="col-6">
                <div class="contact-item">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Consultant Claims</li>
                    <li class="contact-item-phone">
                      <i class="fas fa-phone"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-fax">
                      <i class="fas fa-fax"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-email">
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="contact-item ask-me-about">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Ask Me About</li>
                    <li class="contact-item-phone">
                      Workers’ Compensation Medical-Only Claims
                    </li>
                    <li class="contact-item-fax">
                      Property and Injury Claims
                    </li>
                    <li class="contact-item-email">
                      Defensive Driving Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card contact-card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title contact-name">Jon Doe</h3>
            <div class="row">
              <div class="col-6">
                <div class="contact-item">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Consultant Claims</li>
                    <li class="contact-item-phone">
                      <i class="fas fa-phone"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-fax">
                      <i class="fas fa-fax"></i>
                      123-456-7890
                    </li>
                    <li class="contact-item-email">
                      <i class="fas fa-envelope"></i>
                      <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="contact-item ask-me-about">
                  <ul class="contact-item-list">
                    <li class="contact-item-title">Ask Me About</li>
                    <li class="contact-item-phone">
                      Workers’ Compensation Medical-Only Claims
                    </li>
                    <li class="contact-item-fax">
                      Property and Injury Claims
                    </li>
                    <li class="contact-item-email">
                      Defensive Driving Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>