<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu row" aria-labelledby="navbarDropdown">
            <div class="col-lg-3">
              <h3>I want to request...</h3>
            </div>
            <div class="col-lg-3">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Action</a>
            </div>
            <div class="col-lg-3">
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
            <div class="col-lg-3">
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid main--container">
  <div class="hero-section row">
    <div class="col-lg-12">
      <div class="hero-image top">
        <img src="https://source.unsplash.com/weekly?water" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hero-image">
        <img src="https://source.unsplash.com/weekly?river" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hero-image">
        <img src="https://source.unsplash.com/weekly?land" alt="">
      </div>
    </div>
  </div>
  <div class="news-and-alerts row">
    <div class="col-lg-6 news-section">
      <div class="section-title">
        <h3>News</h3>
        <hr>
      </div>
      <div class="news-content row">
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?horse" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?beach" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
        <div class="news-item card col-lg-4">
          <img src="https://source.unsplash.com/weekly?cars" alt="" class="card-img-top">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit pharetra a. Praesent
              eu neque sit a ligula. Etiam ac sapien ut sapien malesuada pulvinar…</p>
            <a href="#" class="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 alerts-section">
      <div class="section-title">
        <h3>Alerts</h3>
        <hr>
      </div>
      <div class="alerts-content row">
        <div class="alert card">
          <img src="../assets/SVG/Asset 2.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Duis vitae lectus id magna mattis pretium ut sit amet libero. Nulla eu turpis erat. Nam odio sapien, hendrerit
              ac facilisis eget, lacinia accumsan turpis. Suspendisse sodales nibh sem, et dapibus velit.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="../assets/SVG/Asset 2.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam non mauris ullamcorper, accumsan magna vitae,
              mattis neque. Fusce egestas venenatis mollis.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="../assets/SVG/Asset 2.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Aenean faucibus eros sit amet leo pulvinar interdum. Vivamus sed blandit sem, quis lacinia lectus. Donec commodo
              dui enim, ut fringilla leo accumsan in. Nam rhoncus ultrices vulputate.</p>
          </div>
        </div>
        <div class="alert card">
          <img src="../assets/SVG/Asset 2.svg" alt="" class="card-img-left">
          <div class="card-body">
            <small class="publishedDate">Monday, August 12, 2019</small>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Sed mattis consequat orci rhoncus consequat. Nulla facilisi. Integer at pulvinar nulla. Etiam mollis ornare nisl,
              sit amet maximus nisi vehicula in. Nulla velit ligula, convallis in elit sed, sagittis convallis nibh. Donec
              nibh est, efficitur a pharetra non, luctus ut urna.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <div class="row footer-top">
    <div class="col-lg-6 sitemap-section">
      <ul class="sitemap">
        <li>
          <a href="" class="footer-link">My Favorites</a>
        </li>
        <li>
          <a href="" class="footer-link">Resources</a>
        </li>
        <li>
          <a href="" class="footer-link">Training</a>
        </li>
        <li>
          <a href="" class="footer-link">News</a>
        </li>
        <li>
          <a href="" class="footer-link">My Profile</a>
        </li>
        <li>
          <a href="" class="footer-link">My Membership</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 info-section">
      <p class="tagline">
        <em>Managing risks and promoting wellness for more than 160 Illinois park districts, special recreation associations,
          forest preserve districts and conservation districts since 1984.</em>
      </p>
      <h3 class="district-name">
        PARK DISTRICT RISK MANAGEMENT AGENCY
      </h3>
      <ul class="address">
        <li class="street">2033 Burlington Avenue</li>
        <li class="state">Lisle, IL 60532</li>
        <li class="phone">P 630.769.0332</li>
        <li class="fax">F 630.769.0449</li>
      </ul>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-lg-12">
      <div class="copyright mr-2">
         Copyright &copy; 2019 PDRMA. All rights reserved.
      </div>
      <div class="privacy-policy ml-2">
        <a href="#">Click here to view our Privacy Policy.</a>
      </div>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>