<div class="container-fluid content--container">
  <div class="main-content col-10">
    
  </div>
  <div class="sidebar-container col-2">
    <div class="sidebar-item favorites-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">My Favorites</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?cheese" alt="">
    </div>
    <div class="sidebar-item resources-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Resources</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?ocean" alt="">
    </div>
    <div class="sidebar-item training-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Training</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?montana" alt="">
    </div>
  </div>
</div>