<div class="container-fluid content--container">
  <div class="main-content col-10">
   <!-- <div class="row">
      <div class="col-lg-12">
        <h1 class="content-title">Content Title</h1>
      </div>
      <div class="col-lg-12">
        <h3 class="section-title">Section Title</h3>
        <hr />
      </div>
      <div class="col-lg-12">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus nulla cupiditate quis, ipsum officia necessitatibus
          ducimus? Nemo inventore est ipsum voluptas quasi magni asperiores. Cumque quod necessitatibus magni est nostrum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum totam voluptas inventore amet placeat vitae saepe
          iusto mollitia nisi, animi pariatur quos nam debitis. Error repellat fugit sunt laborum! Eveniet consequuntur sed,
          vitae reiciendis illum asperiores porro, aspernatur ex nihil ut et nobis, tempora eligendi officia quaerat maiores
          reprehenderit iste nulla recusandae quisquam. Alias dignissimos nemo similique voluptas numquam! Eveniet dignissimos
          reiciendis quibusdam ullam, cupiditate ducimus officiis laborum quaerat dolorem, maxime velit sed, eaque id cum perferendis
          obcaecati cumque vitae tempora quia omnis ipsam libero. Dolor doloribus neque sapiente?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas animi ut laboriosam! Facere non aliquam quis quasi
          obcaecati veniam fugit animi ea, quaerat, vel ad necessitatibus veritatis aliquid consequatur provident! Voluptatem
          atque porro doloremque consequuntur minima! Nihil sunt corporis fugit, nostrum aliquam deserunt in architecto veritatis
          velit amet ullam autem corrupti mollitia? Cupiditate id blanditiis rerum deserunt, facere consequatur velit. Nemo necessitatibus
          dolore laudantium nesciunt obcaecati deserunt numquam nihil veniam vitae, repudiandae accusamus eos deleniti voluptas
          in illo minima error dolorem quaerat molestiae expedita nobis voluptates assumenda ipsum autem! Laudantium. In, quos
          delectus. Harum, libero sint soluta nobis blanditiis laborum non! Ad, autem. Voluptas vel veritatis porro magni blanditiis,
          non aut. Temporibus eos ut illum error doloremque esse consequuntur eligendi? Dicta at nisi illo, nostrum error officia
          odio, voluptatibus commodi expedita cupiditate eligendi in. Eos nam ipsum distinctio cum saepe dolore molestias nemo
          voluptate tempore? Qui vel est enim ducimus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus nulla cupiditate quis, ipsum officia necessitatibus
          ducimus? Nemo inventore est ipsum voluptas quasi magni asperiores. Cumque quod necessitatibus magni est nostrum?</p>
      </div>
    </div>
   <div class="row">
      <div class="col-lg-12">
        <h3 class="section-title">Request Form</h3>
        <hr />
      </div>
      <div class="col-lg-12">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group col-lg-6">
              <select id="inputState" class="form-control">
                <option selected>Calendar</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group checkboxes pl-2">
              <div class="form-check pt-2">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check Option 1
                </label>
              </div>
              <div class="form-check pt-2">
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                  Check Option 2
                </label>
              </div>
              <div class="form-check pt-2">
                <input class="form-check-input" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck3">
                  Check Option 3
                </label>
              </div>
            </div>
          </div>
          <div class="form-row form-buttons-row m-0 justify-content-end">
            <div class="form-group form-buttons">
              <button type="button" class="btn btn-secondary mr-2">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->
  <!-- <app-search></app-search> -->
  <!-- <app-my-health-benefits></app-my-health-benefits> -->
  <!-- <app-ppo></app-ppo> -->
  <app-ppo-resources></app-ppo-resources>
  </div>
  <div class="sidebar-container col-2">
    <div class="sidebar-item favorites-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">My Favorites</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?cheese" alt="">
    </div>
    <div class="sidebar-item resources-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Resources</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?ocean" alt="">
    </div>
    <div class="sidebar-item training-item">
      <div class="sidebar-item-content">
        <h5 class="sidebar-item-title">Training</h5>
        <button class="btn btn-secondary">View</button>
      </div>
      <img src="https://source.unsplash.com/weekly?montana" alt="">
    </div>
  </div>
</div>