<div class="row benefit-detail">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between">
      <h1 class="content-title">PPO</h1>
      <button class="btn btn-primary">Return to My Health Benefits</button>
    </div>
  </div>
  <div class="col-lg-12 pt-4">
    <p>PDRMA Health offers agencies the ability to select from several different comprehensive PPO options, including plans
      that pair with a Health Reimbursement Account (HRA). Your Benefits Coordinator can provide you with more information
      about which deductible plan and/or HRA pairing your agency offers.</p>
    <p>You can find answers to many questions about the PPO plan in your PDRMA Health Program Plan Document, or you can ask
      your Benefits Coordinator for a hard copy.</p>
    <ul>
      <li>Mauris metus neque, lobortis eget sem ut, dictum pellentesque mi</li>
      <li>Proin id consequat leo</li>
      <li>Vestibulum malesuada faucibus mauris, quis dignissim augue ultricies lobortis</li>
      <li>Nulla eget posuere felis</li>
    </ul>
    <p>Our plan has a penalty if your provider fails to pre-certify certain procedures. As a health care consumer, it is your
      responsibility to follow up with your provider to be sure your provider’s office pre-certifies your procedure when
      necessary. See the Care Management section of your plan document for the current list of procedures that require pre-certification.</p>
  </div>
</div>