<div class="row board-of-directors">
  <div class="col-4">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="row no-gutters nav-link active"  id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
        <h5 class="member-name">Jon Doe</h5>
        <small class="member-title">Vice President</small>
      </div>
    </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">President</small>
        </div>
      </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">Vice President</small>
        </div>
      </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">Vice President</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="card contact-card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://source.unsplash.com/weekly?water" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title contact-name">Jon Doe</h3>
                <div class="row">
                  <div class="col-6">
                    <div class="contact-item">
                      <ul class="contact-item-list">
                        <li class="contact-item-title">Consultant Claims</li>
                        <li class="contact-item-phone">
                          <i class="fas fa-phone"></i>
                          123-456-7890
                        </li>
                        <li class="contact-item-fax">
                          <i class="fas fa-fax"></i>
                          123-456-7890
                        </li>
                        <li class="contact-item-email">
                          <i class="fas fa-envelope"></i>
                          <a href="mailto:email@email.com">email@email.com</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="contact-item ask-me-about">
                      <ul class="contact-item-list">
                        <li class="contact-item-title">Ask Me About</li>
                        <li class="contact-item-phone">
                          Workers’ Compensation Medical-Only Claims
                        </li>
                        <li class="contact-item-fax">
                          Property and Injury Claims
                        </li>
                        <li class="contact-item-email">
                          Defensive Driving Classes
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>