<div class="row board-of-directors">
  <div class="col-lg-12 p-0">
    <h3 class="content-subtitle">Board of Directors</h3>
    <hr />
  </div>
  <div class="col-4">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="row no-gutters nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?earth" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">Vice President</small>
        </div>
      </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?earth" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">President</small>
        </div>
      </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?earth" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">Vice President</small>
        </div>
      </a>
      <a class="row no-gutters nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">
        <div class="col-5">
          <img src="https://source.unsplash.com/weekly?earth" class="card-img" alt="...">
        </div>
        <div class="dir-info col">
          <h5 class="member-name">Jon Doe</h5>
          <small class="member-title">Vice President</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="card contact-card mb-3">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="https://source.unsplash.com/weekly?earth" class="card-img" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body pt-0">
                <h3 class="card-title contact-name">Jon Doe</h3>
                <h5 class="contact-title">Board Chair</h5>
                <div class="row">
                  <div class="col-12">
                    <div class="contact-item">
                      <ul class="contact-item-list">
                        <li class="contact-item-title board">Consultant Claims</li>
                        <li class="contact-item-phone">
                          <i class="fas fa-phone"></i>
                          123-456-7890
                        </li>
                        <li class="contact-item-email">
                          <i class="fas fa-envelope"></i>
                          <a href="mailto:email@email.com">email@email.com</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="workplace">
                <h5 class="workplace-name">Vernon Hills Park District</h5>
                <p class="workplace-title">
                  Superintendent of Finance and Human Resources
                </p>
              </div>
            </div>
            <div class="col-12">
              <div class="appointment">
                <label for="appointment-date">Appointed:</label>
                <p class="appointment-date">April 9, 2015</p>
              </div>
              <div class="term-info">
                <label for="term-exp">Current Term Expires:</label>
                <p class="term-exp">Dec 31, 2019</p>
              </div>
            </div>
            <div class="row">
            <div class="col-6">
              <div class="contact-item bottom">
                <ul class="contact-item-list">
                  <li class="contact-item-title">Governance Memberships</li>
                  <li>
                     Audit Committee
                  </li>
                  <li>
                     Health Program Council
                  </li>
                  <li>
                     Membership Assembly
                  </li>
                  <li>
                     Property/Casualty Program Council
                  </li>
                </ul>
              </div>
            </div> 
            <div class="col-6">
              <div class="contact-item bottom">
                <ul class="contact-item-list">
                  <li class="contact-item-title">Liason</li>
                  <li>
                    Education &amp; Training Committee
                  </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>