*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

$brown--500: #231F20;
$gray--300: #414042;
$green--300: #74CE15;

a {
  color: $green--300;
  &:hover {
    color: $green--300;
    opacity: 0.8;
  }
}

header {
  & nav.navbar {
    background-color: $brown--500;
    height: 100px;
    padding: 0 4rem;
    & ul.navbar-nav {
      & .dropdown {
        position: unset;
        & .nav-link.dropdown-toggle[aria-expanded="false"]{
          color: white;
          &::after {
            transition: all ease-in-out 0.15s;
            transition-timing-function: cubic-bezier(1, 0, 0, 1);
          }
        }
        & .nav-link.dropdown-toggle[aria-expanded="true"]{
          color: $green--300;
          &::after {
            transform: rotate(180deg);
            transition: all ease-in-out 0.15s;
            transition-timing-function: cubic-bezier(1, 0, 0, 1);
          }
          }
        & .dropdown-menu {
          width: 100%;
          padding: 2rem;
          background-color: $gray--300;
          border: 1px solid $gray--300;
          border-radius: 0;
          margin: 0;
          &.show {
            display: flex;
          }
          & .col-lg-3 {
            & h3 {
              text-align: right;
              color: white;
              font-size: 1.25rem;
              text-transform: uppercase;
            }
            & .dropdown-item {
              color: $green--300;
              &:hover {
                background-color: #333333;
              }
            }
          }
        }
      }
    }
    & a.nav-link {
      color: white;
    }
  }
}


.main--container {
  & .hero-section {
    padding: 2rem 0;
    & .hero-image {
      height: 300px;
      position: relative;
      transition: all ease-in-out 0.5s;
      & .favorites-links {
        display: none;
        position: absolute;
        padding-top: 1rem;
      }
      &:hover {
        cursor: pointer;
        & .favorites-links {
          display: flex;
          z-index: 20000;
          color: white;
          padding: 5rem 4rem;
        }
        &::after {
          position: absolute;
          height: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: rgba(35, 31, 32, 0.85);
          content: '';
          color: white;
          text-align: center;
          padding: 1.5rem;
          font-size: 1.25rem;
        }
        &.my-favorites::after {
          bottom: 2rem;
          content: 'My Favorites';
        }
      }
      &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(35, 31, 32, 0.85);
          height: 80px;
          content: '';
          color: white;
          text-align: center;
          padding: 1.5rem;
        }
        &.my-favorites::after {
          bottom: 2rem;
          content: 'My Favorites';
        }
        &.resources::after {
          content: 'Resources';
        }
        &.training::after {
          content: 'Training';
        }
      & img {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
      }
      &.my-favorites {
        padding-bottom: 2rem;
      }
    }
  }
  & .news-and-alerts {
    & .section-title {
      text-transform: uppercase;
    }
    & .news-section {
      & .news-content {
        & .news-item.card {
          border: none;
          & img.card-img-top {
            max-height: 108px;
            display: flex;
            object-fit: cover;
            border-radius: 0;
          }
          & .card-body {
            padding: 0.5rem 0;
            & p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    & .alerts-section {
      & .alerts-content {
        & .alert.card {
          flex-direction: row;
          padding-top: 0;
          height: 120px;
          & img.card-img-left {
            width: 120px;
            height: 100%;
            object-fit: contain;
            background-color: $green--300;
            padding: 1.5rem;
          }
          & .card-body {
            padding: 0 0 0 1rem;
            & h5 {
              font-size: 0.9rem;
              font-weight: bold;
            }
            & p {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $brown--500;
  height: 100%;
  padding: 2rem 0;
  color: white;
  margin-top: 2rem;
  & .footer-top {
    & ul.sitemap {
      list-style: none;
      font-size: 1.5rem;
      max-height: 150px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & li {
        width: auto;
      }
    }
    & .info-section {
      & .tagline {
        line-height: 1.5rem;
        font-size: 1rem;
        padding-bottom: 2rem;
      }
      & h3.district-name {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      & ul {
        list-style: none;
        padding-left: 0;
      }
    }
  }
  & .footer-bottom {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
    & .col-lg-12 {
      display: flex;
      justify-content: center;
    }
  }
}